<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cauliflower.danielt.smartphoneradar">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".ui.SignUpActivity" />

        <service
            android:name=".service.RadarService"
            android:enabled="true"
            android:exported="true"></service>

        //網路的開關會啟動 NetWatcher，會間接啟動或關閉 RadarService
        <receiver android:name=".service.NetWatcher">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".ui.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest><!--
    todo 00: User story、使用流程、定位Service驗證
    todo 01: Server 資料庫建立 (完成)
    todo 02: PHP 查詢 DB (完成)
    todo 02: Http 溝通 Server 的設計 (因為這方面有經驗，略過驗證)
    todo 03: 註冊帳號 Activity
    todo 04: 登入帳號 Activity
    todo 05: 定位 Service
    todo 06: 設定頁面：有關 sendLocation 的設定，使用 PreferenceFragment 實作該功能
                開始定位這支手機 ON/OFF（關閉定位時需要輸入帳密）
                更新位置間隔（每隔幾秒更新一次手機的位置）
                手機的資訊
                使用指南
                查詢其他手機位置（按鈕）
-->
